*{
margin:0;
padding:0;
}

.sky{
    height:100vh;
    width: 100%;
    background-image: url(hehe.png);
    background-size :cover;
    /* for full screen image */
    position:absolute;
    background-repeat: no-repeat;
   
    
}
/* #tree{
  background :url(trees.png) ;
  height: 600px;
  width: 1920;
 /* top:105px;
 } */
 

#track{
    margin-top:1780px ;
    background-image: url(track.png);
    width:100%;
    height:300px;
    
    position:absolute;
}
#car{
    background-image: url(car_body.png);
    height: 300px;
    width: 924px;
    animation: shake linear .2s infinite;
    position: absolute;
    animation: carMove linear 10s infinite;
}
.wheel1{
    background-image: url(car_wheel_left.png);
    height: 177px;
    width: 177px;
   
    margin-left: 133px;
    position: relative;
    top: 109px;
     
      animation: wheelRotation linear .6s infinite;
}
.wheel2{
    background-image: url(car_wheel_right.png);
    height: 177px;
    width: 177px;
   
    position: relative;
    bottom: 52px;
    margin-left: 650px;
   
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(200vw);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}